/* RESPONSIVE */

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  /* HEADER */

  header::after {
    display: none;
  }

  header .content .logo {
    width: 50%;
  }

  header .content .menu-dropdown > img {
    width: 50%;
  }

  header .content {
    padding-bottom: 6px;
  }
  header .info.row {
    border-bottom: none;
    padding: 0px;
  }

  /* END OF HEADER */

  /* NEWS */
  .news {
    height: 500px;
  }

  .news .content {
    display: block;
    padding-top: 40px;
  }

  .news .content .head-logo {
    text-align: center;
    margin-top: 0px;
  }

  .news .content .logo-content {
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .news .logo-content img {
    width: 130px;
    height: 118px;
  }

  .news .content .title > p {
    text-align: center;
  }
  .news .content .title-1 {
    font-size: 21.5px;
    font-weight: bold;
    letter-spacing: 2.5px;
  }

  .news .content .title-2 {
    position: relative;
    top: -8px;
    font-size: 18.5px;
    font-weight: bold;
  }

  .news .content .title-3 {
    font-size: 7.5px;
    position: relative;
    top: -4px;
  }

  .news .content .break-line {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    margin-bottom: 25px;
    height: 1px;
    width: calc(100% - 8px);
    background-color: black;
  }

  .news .news-body {
    width: 100%;
    padding: 0 4px;
  }

  .news .news-body .body-title {
    font-size: 25px;
    padding-bottom: 15px;
    border-bottom: 1px dotted black;
  }

  .news .news-body .item {
    margin-top: 5px;
    padding-bottom: 8px;
    font-size: 10px;
    border-bottom: 1px dotted black;
  }

  .news .news-body .date {
    margin-left: 6px;
    margin-right: 24px;
  }

  .news .news-body .learn-more {
    margin-top: 19px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .news .learn-more .button {
    font-size: 11px;
    padding-left: 85px;
    padding-right: 85px;
  }

  .news .learn-more img {
    right: 30px;
  }

  /* END OF NEWS */

  /* RECOMMEND */
  .recommend .content .title {
    font-size: 20px;
    margin-top: 42px;
    margin-bottom: 20px;
  }

  .recommend .content .box {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 75px;
    padding-top: 22px;
    padding-left: 80px;
    padding-right: 45px;
  }

  .recommend .box .item {
    position: relative;
    margin-bottom: 6px;
  }

  .recommend .box .item .info {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
  }

  .recommend .box .decoration-1 {
    width: 37px;
    height: 37px;
  }

  .recommend .box .decoration-2 {
    left: -15px;
    bottom: -19px;
    width: 162px;
    height: 105px;
  }

  .recommend .box .item img {
    width: 9px;
    height: 9px;
    top: 20%;
    left: -17px;
  }

  .recommend .box .sign {
    font-size: 11px;
    font-weight: 500;
    text-align: right;
  }

  /* END OF RECOMMEND */

  /* CAMPAIGN */
  .campaign .main-content {
    width: 100%;
  }
  .campaign .title .main-title {
    font-size: 13px;
    padding-left: 5px;
  }

  .campaign .title .sub-title {
    padding-left: 5px;
    font-size: 25px;
    font-weight: bold;
    width: 174px;
    letter-spacing: 2px;
    margin: 0 auto;
    line-height: 28px;
    margin-top: 8px;
  }

  .campaign .break-box {
    border-top: 30px solid transparent;
    border-right: 96vw solid #f6f6f6;
  }

  .campaign .bot-content .row {
    padding-top: 45px;
    justify-content: space-between;
    align-items: center;
    padding-right: 0;
    padding-bottom: 35px;
  }
  .campaign .bot-content .title {
    font-size: 19.5px;
  }

  .campaign .bot-content .info {
    font-size: 12px;
    margin-top: 15px;
    padding-bottom: 22px;
  }

  .campaign .bot-content .btn {
    display: block;
    font-size: 15px;
    text-align: center;
    padding: 0;
    padding-top: 12px;
    padding-bottom: 15px;
  }

  .campaign .bot-content .btn img {
    right: 21px;
    bottom: 50%;
    transform: translateY(50%);
  }

  /* END OF CAMPAIGN */

  /* CONTACT-INFO */
  .contact-info {
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .contact-info .content .row {
    display: block;
  }

  .contact-info .content .item {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 7px;
  }

  .contact-info .item img {
    top: 50%;
    transform: translateY(-50%);
  }
  .contact-info .item .icon {
    left: 17px;
  }
  .contact-info .item .arrow {
    right: 21px;
  }
  .contact-info .item a {
    font-size: 15px;
  }

  .contact-info .content .item.contact-fb .icon {
    width: 33px;
    height: 23px;
  }

  .contact-info .content .item.contact-line .icon {
    width: 31px;
    height: 31px;
  }

  .contact-info .content .sponsor {
    margin-top: 32px;
    padding: 0 4px;
  }

  .contact-info .content .sponsor > img {
    width: 100%;
  }

  /* END OF CONTACT-INFO */

  /* HISTORY */
  .history {
    height: 648px;
    margin-bottom: 20px;
  }
  .history::after {
    content: none;
  }

  .history .content .main-picture {
    width: 100%;
    height: 250px;
    background: url("./images/history-picture.png") center;
    position: static;
    transform: none;
  }

  .history .content .title {
    width: 50%;
    position: relative;
    left: 15px;
    top: 0;
    transform: translateY(-50%);
    z-index: 2;
  }
  .history .container .sub-title {
    font-size: 21px;
    margin-top: 20px;
    letter-spacing: 1px;
  }

  .history .container .info {
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .history .container .info p:nth-child(2n) {
    margin: 8px 0;
  }

  .history .container .sub-info {
    text-align: right;
    letter-spacing: 0;
  }

  /* END OF HISTORY */

  /* DEBT */
  .debt {
    height: 1227px;
    background-color: #c88800;
  }

  .debt .title > img {
    width: 258px;
    height: 16px;
  }

  .debt .content .title {
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .debt .item {
    width: calc(100% - 44px);
    min-height: 210px;
    background-color: white;
    color: black;
    padding: 0 25px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 6px;
  }

  .debt .content .item {
    margin: 0px;
    margin-bottom: 20px;
  }

  .debt .item .item-title {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5;
  }

  .debt .item .break-line {
    height: 1px;
  }

  .debt .item-title span::before {
    left: -3px;
    width: calc(100% + 2px);
    height: 8px;
  }

  .debt .item .info {
    letter-spacing: 1.2px;
    line-height: 1.5;
  }

  /* END OF DEBT */

  /* COW-FARM */
  .cow-farm {
    margin-top: 17px;
    margin-bottom: 50px;
  }

  .cow-farm .content .background {
    background-position: 65% 82%;
    width: calc(100% - 20px);
    height: 300px;
    margin: 0 auto;
  }

  .cow-farm .item .title {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 5px;
    letter-spacing: 2px;
  }

  .cow-farm .item .info {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1.1px;
  }

  .cow-farm .row {
    display: block;
  }

  .cow-farm .row .item {
    width: 100%;
  }

  .cow-farm .row .row-background {
    width: calc(100% - 20px);
    height: 300px;
    margin: 0 auto;
  }

  .cow-farm .row.row-1 {
    margin-top: 45px;
  }

  .cow-farm .row.row-2 {
    margin-top: 65px;
  }

  .cow-farm .row.row-1 .row-background {
    background: url("./images/cow-background-2.png");
    background-position-x: center;
    background-position-y: center;
  }

  .cow-farm .row.row-2 .row-background {
    background: url("./images/cow-background-3.png");
    background-position-x: 60%;
    background-position-y: 20%;
    margin-bottom: 40px;
  }

  .cow-farm .row.row-2 .info {
    letter-spacing: 1.5px;
  }
  /* END OF COW-FARM */

  /* BRANDNEW */

  .brandnew {
    position: relative;
    height: 612px;
    margin-bottom: 50px;
  }

  .brandnew .content {
    width: 100%;
    margin-left: 0px;
  }

  .brandnew .content .milk-image {
    background: url("./images/brandnew-milk.png");
    background-position: 80% 85%;
    width: 100%;
    height: 281px;
  }

  .brandnew .content .text {
    position: absolute;
    top: 245px;
    width: calc(100% - 15px);
    height: 366px;
    padding-left: 28px;
    padding-top: 45px;
  }

  .brandnew .text .title {
    width: 100%;
    font-size: 18px;
    letter-spacing: 5px;
    padding-left: 0;
    padding-bottom: 25px;
    border-bottom: none;
  }

  .brandnew .text .info {
    font-size: 15px;
    width: 100%;
    letter-spacing: 2.5px;
    text-align: justify;
  }
  .brandnew .text .info p {
    margin-top: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  /* END OF BRANDNEW */

  .sp-only {
    display: block !important;
  }

  .pc-only {
    display: none !important;
  }
}
